.board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
}

.block {
  border: thin solid black;
  background-color: blue($color: #1a398f);
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
